{% include "header.html" %}

<div class="g">
<div class="g-row">

{% include "menu.html" %}


<h3>ItHelpDesk</h3>

<ul class="f-nav f-nav-tabs">
    <li class="active"><a href="/itmy">Мои заявки</a></li>
    <li><a href="/ittask">Обработка заявок</a></li>
    <li><a href="/itreport">Отчеты</a></li>
    <li><a href="/itopt">Настройки</a></li>
</ul><!-- f-nav f-nav-tabs -->

<h3>Заявка {{ d.1 }}</h3>

<h4 style="color: {{ d.23 }};">
Дата: {{ d.3 }} Время: {{ d.4 }}<br>
Текст: {{ d.17 }}<br>
Статус: {{ d.14 }}<br>
Исполнитель: {{ d.9 }} {{ d.8 }}<br>
Пользователь: {{ d.18 }} ({{ d.19 }})<br>
</h4>

<ul class="f-nav f-nav-tabs">
    <li><a href="/ittaskuser">История статусов</a></li>
    <li><a href="/itmessuser">Сообщения</a></li>
    <li class="active"><a href="/itnewmess">Новое сообщение</a></li>
</ul><!-- f-nav f-nav-tabs -->

<h3>Новой сообщение</h3>


<center>
    <form action="" enctype="multipart/form-data" method="post" class="forms">{% csrf_token %}
	<fieldset>
	    <legend>
	    </legend>
	    <div class="f-row">
		<label>{{ form.mess.label }}</label>
		<div class="f-input">{{ form.mess }}</div>
	    </div><!-- f-row -->
	    <div class="f-row">
		<label>{{ form.file_load.label }}</label>
		<div class="f-input">{{ form.file_load }}</div>
	    </div><!-- f-row -->
	</fieldset>
	<div class="f-actions"><button type="submit" class="f-bu">Создать</button></div>
    </form>




</div><!-- g-row -->
</div><!-- g -->
