{% include "header.html" %}

<div class="g">
<div class="g-row">

{% include "menu.html" %}


<h3>Автотранспорт</h3>

<ul class="f-nav f-nav-tabs">
    <li><a href="/page2auto">Новый заказ</a></li>
    <li class="active"><a href="/auto">Заказы</a></li>
    <li><a href="/page3auto">Выезды по заказам</a></li>
    <li><a href="/page4auto">Плановые выезды</a></li>
    <li><a href="/page5auto">Автомобили</a></li>
    <li><a href="/page6auto">Водители</a></li>
    <li><a href="/page9auto">Личные автомобили</a></li>
    <li><a href="/page7auto">Настройки</a></li>
    <li><a href="/page8auto">Отчеты</a></li>
    <li><a href="/page10auto">Инструкции</a></li>
</ul><!-- f-nav f-nav-tabs -->



</div><!-- g-row -->



<h3>Заказ<br>
Дата: {{ d.2 }} Время: {{ d.3 }}<br>
Маршрут: {{ d.6 }}<br>
Объект: {{ d.7 }}<br>
Статус: {{ d.9 }}
</h3>



<ul class="f-nav f-nav-tabs">
    <li><a href="/page1edit">Заказ</a></li>
    <li><a href="/page1status">История статусов</a></li>
    <li class="active"><a href="/page1chief">Руководитель ЦФО</a></li>
    <li><a href="/page1email">История уведомлений</a></li>
</ul><!-- f-nav f-nav-tabs -->


<h3>Руководитель ЦФО</h3>


<div class="g-row">

<center>
    <form action="" method="post" class="forms">{% csrf_token %}
	<legend>Запрос подписи заказа {{ d.22 }}</legend>
	<fieldset>
	    <div class="f-row">
		<label>{{ form.chief.label }}</label>
		<div class="f-input">{{ form.chief }}</div>
	    </div><!-- f-row -->
	</fieldset>
	<div class="f-actions"><button type="submit" class="f-bu">Отправить</button></div>
    </form>
</center>

</div><!-- g-row -->
</div><!-- g -->

{% include "footer.html" %}
