<div class="f-nav-bar">
    <div class="f-nav-bar-body">
	<div class="f-nav-bar-title">
	    <a href="#">КИС</a>
	</div><!-- f-nav-bar-title -->
	<ul class="f-nav">
	    <li><a href="/tmc">Заявки ТМЦ</a></li>
	    <li><a href="/store">Склад</a></li>
	    <li><a href="/contract">Договоры заявки</a></li>
	    <li><a href="/auto">Автотранспорт</a></li>
	    <li><a href="/ithelpdesk">ItHelpDesk</a></li>
	    <li><a href="http://10.6.0.223:20000/phone" target="_blank">Телефонный справочник</a></li>
	    <li><a href="/exit">Выход</a></li>
	</ul><!-- f-nav -->
    </div><!-- f-nav-bar-body -->
</div><!-- f-nav-bar -->
