<div class="g">
<div class="g-row">

{% include "menu.html" %}


<h3>Склад</h3>

<ul class="f-nav f-nav-tabs">
	<li class="active"><a href="/store">Номенклатура</a></li>
	<li><a href="/storelist">Склады</a></li>
	<li><a href="/storeperson">Кладовщики</a></li>
	<li><a href="/storetmc">Заявки ТМЦ</a></li>
	<li><a href="/storereports">Отчеты</a></li>
</ul><!-- f-nav f-nav-tabs -->


<h3>Номенклатура</h3>
<div class="g">
<div class="g-row">

<div class="g-6">
<b>Код ИЕСУП:</b> {{ one.0 }}<br>
<b>Наименование:</b> {{ one.1 }}<br>
<b>Вид номенклатуры:</b> {{ one.4 }}<br>
</div><!-- g-6 -->

{% if hidden != True %}
<div class="g-6">
<center>
    <form action="" method="post" class="f-horizontal">{% csrf_token %}
    <div class="f-row">
	    {{ form.modeldata.label }}
	    {{ form.modeldata }}
	<button type="submit" class="f-bu">Применить</button>
    </div><!-- f-row -->
    </form>

</center>

</div><!-- g-6 -->
{% endif %}

</div><!-- g-row -->




<div class="g-row">

<div class="g-6">
<table>
    <caption>Остатки</caption>
    <thead>
	<tr>
	    <th>Склад</th>
	    <th>Ед.из.</th>
	    <th>Кол-во</th>
	</tr>
    </thead>
    <tbody>
    {% for row in rest %}
	<tr>
	    <td>{{ row.1 }}</td>
	    <td>{{ row.2 }}</td>
	    <td>{{ row.3 }}</td>
	</tr>
    {% endfor %}
    </tbody>
</table>

</div><!-- g-6 -->

<div class="g-6">
<table>
    <caption>Резервы</caption>
    <thead>
	<tr>
	    <th>Склад</th>
	    <th>Ед.из.</th>
	    <th>Кол-во</th>
	</tr>
    </thead>
    <tbody>
    {% for row in reserve %}
	<tr>
	    <td>{{ row.0 }}</td>
	    <td>{{ row.1 }}</td>
	    <td>{{ row.2 }}</td>
	</tr>
    {% endfor %}
    </tbody>
</table>
</div><!-- g-6 -->


</div><!-- g-row -->

</div><!-- g -->
