
{% include "menu.html" %}

<div class="g">

<h3>Склад</h3>

<ul class="f-nav f-nav-tabs">
	<li class="active"><a href="/store">Номенклатура</a></li>
	<li><a href="/storelist">Склады</a></li>
	<li><a href="/storeperson">Кладовщики</a></li>
	<li><a href="/storetmc">Заявки ТМЦ</a></li>
	<li><a href="/storereports">Отчеты</a></li>
</ul><!-- f-nav f-nav-tabs -->


<h3>Номенклатура</h3>
<div class="g">
<div class="g-row">

<div class="g-6">
<b>Код ИЕСУП:</b> {{ r.12 }} 
<b>Наименование:</b> {{ r.13 }}
<b>Вид номенклатуры:</b> {{ r.14 }}
<b>Модель данных:</b> {{ r.16 }}
<b>Склад : </b> {{ r.3 }}
<b>Ед.из. : </b> {{ r.5 }}
<b>Резерв : </b> {{ r.6 }}
<b>Заявка ТМЦ : </b> {{ r.7 }}
</div><!-- g-6 -->

<div class="g-6">

<h2>Реализация</h2>

</div><!-- g-6 -->
</div><!-- g-row -->
</div><!-- g -->


