{% include "header.html" %}

<div class="g">
<div class="g-row">

{% include "menu.html" %}


<h3>Заявки ТМЦ</h3>

<ul class="f-nav f-nav-tabs">
    {% if mark == 'common' %}
	<li class="active"><a href="/tmc?mark=common">Общие</a></li>
    {% else %}
	<li><a href="/tmc?mark=common">Общие</a></li>
    {% endif %}
    {% if mark == 'auto' %}
	<li class="active"><a href="/tmc?mark=auto">Автотранспорт</a></li>
    {% else %}
	<li><a href="/tmc?mark=auto">Автотранспорт</a></li>
    {% endif %}
    {% if mark == 'it' %}
	<li class="active"><a href="/tmc?mark=it">IT</a></li>
    {% else %}
	<li><a href="/tmc?mark=it">IT</a></li>
    {% endif %}
    <li><a href=#>Настройки</a></li>
</ul><!-- f-nav f-nav-tabs -->


<h3>Новая заявка ТМЦ</h3>


<center>
    <form action="" method="post" class="forms">{% csrf_token %}
	<fieldset>
	    <legend>
	    </legend>
	    <div class="f-row">
		<label>{{ form.tema.label }}</label>
		<div class="f-input">{{ form.tema }}</div>
	    </div><!-- f-row -->
	    <div class="f-row">
		<label>{{ form.text.label }}</label>
		<div class="f-input">{{ form.text }}</div>
	    </div><!-- f-row -->
	</fieldset>
	<div class="f-actions"><button type="submit" class="f-bu">Создать</button></div>
    </form>

</center>




</div><!-- g-row -->
</div><!-- g -->
